@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Slackey&display=swap');

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    /* background-color:blue; */
    overflow: hidden;

}
.box {
    width: 250px;
    height:350px;
   padding: 50px;
   justify-content: space-around;
   align-content: space-around;
   
   
}
.box1{
    background-color:hsl(31, 77%, 52%) ;
}
.box2{
    background-color:hsl(184, 100%, 22%) ;
}
.box3{
    background-color: hsl(179, 100%, 13%);
}
h3{
    color: #fff;
    font-size: 27px;
    font-family: "Lexend", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-weight: bold;


}
.btn{
    padding: 10px;
    background-color: #fff;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    margin-top: 70px;
    width: 100px;
}
p{
    color: #fff;

}
img{
    margin-top: -100px;
}